/* ProjectCard.css */

.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0px;
    background-color: #f2fff2;
    transition: transform 2s;
}

.project-image ,
.project-video {
  width: 100%; /* Ensure both elements take up the full width */
  height: auto; /* Maintain the aspect ratio */
  /* display: block; */
  padding: 5px;
  object-fit: cover;
}

.project-card h3 {
    margin-top: 40px;
    opacity: 0;
    font-family: 'Acumin Variable Concept', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #101b11;
  }
  
  .project-card:hover h3 {
    opacity: 1; 
  }